.card_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(92, 168, 218, .3);
  color: #3E236C;
  font-weight: 600;
}
.card_container p {
  padding: 5px;
  margin: 0;
  text-align: start;
}
.card_container p:first-child {
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding-bottom: 8px;
}
.card_container p span {
  font-weight: 400;
  font-size: 18px;
}
.card_container div {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.card_container div button {
  padding: 15px 20px;
  margin: 2px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  border-style: none;
  background-color: rgba(183, 128, 255, .8);
  transition: 200ms;
}
.card_container div button:hover {
  background-color: rgba(183, 128, 255, 1);
}