table {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.5);
  margin-top: 30px;
}
thead {
  background-color: #5CA8DA;
  color: #fff;
}
td {
  padding: 0;
  margin: 0;
}
.table--values:nth-child(2n-1) {
  background-color: #9dd3f7;
}