.addItem--container {
  display: flex;
  flex-direction: column;
  border-top: 30px solid #5CA8DA;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff;
  transition: 2s;
}
.addItem--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.addItem--header > button {
  border-style: none;
  background-color: #fff;
}
.addItem--close {
  font-size: 25px;
}
.addItem--header > p {
  font-size: 20px;
  margin: 5px;
}
.addItem--field__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin:  5px 15px;
}
.addItem--field__container > p {
  margin: 5px;
  font-size: 18px;
}
.addItem--field {
  width: 95%;
  margin: 0 5px;
  font-size: 18px;
  padding: 5px;
  border-radius: 4px;
  border-style: none;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}
.addItem--field:focus {
  outline: none;
}
.addItem--button {
  margin: 10px 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: #5CA8DA;
  color: #fff;
  border-style: none;
}
.disabled {
  background-color: #C5C6C7;
}
.add--item__button {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  border-style: none;
  border-radius: 50%;
  background-color: #5CA8DA;
  color: #fff;
  position: fixed;
  bottom: 25px;
  right: 25px;
}