.container {
  background-color: rgba(92, 168, 218, .8);
  padding: 10px;
}
.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px 5px;
  color: #fff;
  border-radius: 10px;
  transition: 300ms;
}
.item:hover {
  background-color: rgba(183, 128, 255, .8);
}
.icon {
  margin-right: 20px;
}
.link {
  text-decoration: none;
  color: #fff;
  width: 100%;
}
.rotate_icon {
  rotate: 180deg;
}