.legend {
  font-size: 20px;
  text-align: left;
  margin-left: 15px;
}
.input--money {
  font-size: 30px;
  opacity: 0.65;
  margin: 10px 20px;
  width: 90%;
  border-style: none;
  border-bottom: 1px solid rgba(0,0,0,.3);
}
.input--money:focus {
  outline: none;
}
.form {
  display: flex;
  flex-direction: column;
}
.redirect--buttons__container {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
.redirect--button {
  align-self: flex-end;
  width: 40px;
  height: 40px;
  margin: 20px 20px 0 0;
  border-radius: 50%;
  border-style: none;
  font-size: 1.2rem;
  background-color: #C5C6C7;
}
.disabled {
  background-color: #FCFDFF;
}