.header--container {
  background-color: #5CA8DA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header--menu__icon {
  font-size: 25px;
  color: #fff;
  width: 20%;
}
.header--title {
  margin: 0;
  width: 60%;
  color: #fdfdfd;
  text-align: center;
}