.listItem--date {
  text-align: start;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.items--filter__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  font-size: 18px;
}
.items--filter__container > p {
  margin: 10px;
}
.item_list {
  height: 72vh;
  overflow-y: scroll;
}
.item_list::-webkit-scrollbar {
  width: 5px;
}
.item_list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
.month {
  padding-bottom: 10px;
  margin: 0 10px 10px;
  text-align: justify;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0,0,0,.2);
}