.goal {
  background-color: rgba(92, 168, 218, .4);
  margin: 15px;
  padding: 0 0 10px;
  border-radius: 20px;
}
.goal p {
  margin: 0;
  padding: 5px 0;
  background-color: rgba(92, 168, 218, .9);
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.achived {
  box-shadow: 0px 0px 15px 5px #6DC75E;
}