.list {
  background-color: rgba(92, 168, 218, .2);
  margin: 22px 0 22px 20px;
  border-radius: 20px;
  overflow-y: scroll;
  max-height: 95vh;
}
.list::-webkit-scrollbar {
  width: 10px;
}
.list::-webkit-scrollbar-thumb {
  background-color: rgba(183, 128, 255, .9);
  border-radius: 10px;
}
.list::-webkit-scrollbar-track {
  background-color: rgba(183, 128, 255, .3);
  border-radius: 10px;
}
.list h3 {
  font-size: 18px;
  color: rgba(183, 128, 255, 1);
}